<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="etrav-hack_Images_Connection" connectionString="XpoProvider=MSSqlServer;data source=etrav-hack;user id=Application;password=noitacilppa;initial catalog=Images;Persist Security Info=true" />
    </connectionStrings>
</configuration>